{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %}{{WEBSITE_NAME}}{% endblock title %}

{% block other_styles %}
<style>
    .no-more-info{
        font-family: 'Microsoft YaHei';
        font-size: 40px;
        color:#808080;
        text-align:center;
        letter-spacing:10px;
        font-weight:600;
    }
    .pagination-div{
        color:#808080;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    .article{
        padding-left:20px;
        padding-top:20px;
        height:160px;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color: #FFFFFF;
    }
    .title{
        font-family: 'Microsoft YaHei';
        font-size: 30px;
        color:#808080;
        letter-spacing:3px;
        font-weight:600;
    }
    .description{
        font-family: 'Microsoft YaHei';
        font-size: 16px;
        font-weight:500;
        color:#696969;
    }
    .description-div{
        height:60px;
        overflow:hidden;
        line-height:1.8;
    }
    .read-more{
        padding-right:60px;
        text-align:right;
        font-size: 14px;
    }
    .read-more-a{
        color:#808080;
    }
</style>
{% endblock other_styles %}

{% block center_bar %}


{% for article in items %}
<div class="article">
    <p class="title">{{article.title}}</p>
    <div class="description-div">
        <p class="description">{{article.description}}</p>
    </div>
    <div class="read-more">
        <a class="read-more-a" href="{{url_for('article.article_detail_page', article_id = article.id)}}">
            详情阅读...
        </a>
    </div>
</div>
{% endfor %}



{% if need_pagination !=2 %}
    <div  class="no-more-info">
        <p>没有喽~</p>
    </div>
{% endif %}

{% if pagination and need_pagination !=0 %}
<div class="pagination-div">
    <div class="pagination">
        {{ macros.pagination_widget(pagination, pagination_url) }}
    </div>
</div>
{% endif %}



{% endblock center_bar %}