# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
build

# My configurations:
.idea
vcs.xml
venv
secret.*
package-lock.json

# 数据库volumn卷不同步
volumn/mysql/data/*


!.gitkeep

