{% extends "__base__.html" %}

{% block title %}用户注册{% endblock title %}

{% block center_bar %}
    <div>
        <form method="POST" action="{{url_for('user.register_page')}}">
            {{ form.csrf_token }}
            {{ form.account.label }} {{ form.account(size=20) }}
            <br/>
            {{ form.password.label }} {{ form.password(size=20) }}
            <br/>
            {{ form.confirm.label }} {{ form.confirm(size=20) }}
            <br/>
            {{ form.username.label }} {{ form.username(size=20) }}
            <br/>
            {{ form.email.label }} {{ form.email(size=20) }}
            <br/>
            <input type="submit" value="提交">
        </form>
    </div>
{% endblock center_bar %}