{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}重置邮箱{% endblock title %}

{% block other_styles %}
<style>
    .reset-block{
        margin-top:70px;
        height:800px;
    }
    .reset-center{
        width:450px;
        position:relative;
        margin-top:200px;
        margin-left:auto;
        margin-right:auto;
        box-shadow: 0px 0px 5px 5px #f0f0f0;
        padding: 20px;
        border-radius: 15px;
    }
    label.control-label{
        font-family: 'Microsoft YaHei';
        font-size: 20px;
        color:#808080;
    }
    input.form-control{
        width:400px;
    }
    input.btn{
        width:150px;
        margin-left:125px;
        margin-top:15px;
        position:absolute;
        background-color:#808080;
        font-family: 'Microsoft YaHei';
        font-size: 14px;
        color:#FFFFFF;
    }
    .alert{
        margin-top:20px;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        font-size:5px;
        color:#D0D0D0;
        letter-spacing:2px;
        font-family: 'Microsoft YaHei';
    }
    ::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size:5px;
        color:#D0D0D0;
        letter-spacing:2px;
        font-family: 'Microsoft YaHei';
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size:5px;
        color:#D0D0D0;
        letter-spacing:2px;
        font-family: 'Microsoft YaHei';
    }
    ::-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size:5px;
        color:#D0D0D0;
        letter-spacing:2px;
        font-family: 'Microsoft YaHei';
    }
    .return{
        font-family: 'Microsoft YaHei';
        font-size: 14px;
        width:80px;
        margin-left:320px;
        margin-top:15px;
        color:#808080;
    }
    .return-a{
        color:#808080;
        margin-bottom:15px;
    }
</style>
{% endblock other_styles %}

{% block content %}
<div class="reset-block col-md-4 col-md-offset-4">
    <div class="reset-center">
        <div>
        {{ wtf.quick_form(form) }}
        </div>
        <bottom  type="button" class="btn btn-default return">
            <a href="{{url_for('user.person_setting_page')}}" class="return-a">
                返回
            </a>
        </bottom>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}