{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 头像设置 {% endblock title %}

{% block other_styles %}
<style>
    .return{
        width:80px;
        height:40px;
        font-size: 16px;
        width:80px;
        color:#808080;
        margin-bottom:10px;
        margin-top:20px;
    }
    .return-a{
        font-family: 'Microsoft YaHei';
        color:#808080;
        letter-spacing:5px;
        font-weight:600;
    }
    .set-profile-photo{
        text-align:center;
        padding:20px;
        font-family: 'Microsoft YaHei';
        color:#808080;
        width:500px;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;

    }
    label.control-label{
        font-family: 'Microsoft YaHei';
        font-size: 20px;
        font-weight:800;
        letter-spacing:5px;
    }
    .now-profile-photo{
        border-top-style:solid;
        border-top-width:2px;
        border-top-color: #FFFFFF;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color: #FFFFFF;
        text-align:center;
        padding:20px;
    }
    .now-profile-photo-div{
        margin-left:auto;
        margin-right:auto;
        width:300px;
        height:300px;
    }
    .profile-photo{
        width:100%;
        height:100%;
    }
    .now-profile-photo-word{
        font-family: 'Microsoft YaHei';
        font-size: 20px;
        font-weight:800;
        letter-spacing:5px;
        color:#808080;
    }
    #btn1{
        margin-top:20px;
        width:150px;
        background-color:#808080;
        font-family: 'Microsoft YaHei';
        font-size: 14px;
        color:#FFFFFF;
    }
</style>
{% endblock other_styles %}

{% block center_bar %}
<bottom  type="button" class="btn btn-default return">
    <a href="{{url_for('user.person_setting_page')}}" class="return-a">
        返回
    </a>
</bottom>
<div class="now-profile-photo">
    <p class="now-profile-photo-word">现在使用的头像</p>
    <div class="now-profile-photo-div">
        <img class="profile-photo" src="{{url_for('static', filename=folder+current_user.profile_photo)}}">
    </div>
</div>
<div class="set-profile-photo">
    <div>
    {{ wtf.quick_form(form)}}
    </div>

    <button class="btn btn-default" id="btn1">提交</button>
</div>

{% endblock center_bar %}

{% block other_scripts %}
<script>
    $(document).ready(function() {
        document.getElementById('btn1').addEventListener('click', function () {
            //检测图片格式和大小后再上传
            var img = $('#profile_photo')[0].files[0]
            if(!img){
                alert("请选择图片")
            }else{
                var img_name = $('#profile_photo').val()
                var index= img_name.lastIndexOf(".")
                img_id=img_name.substring(index);
                if(img_id!=".bmp"&&img_id!=".png"&&img_id!=".gif"&&img_id!=".jpg"&&img_id!=".jpeg"){
                    alert("图片格式有误，请重新选择")
                    $('#profile_photo').val('')
                }else if(img.size > 1024*1024*1){
                    alert("图片大于1M，请重新选择")
                    $('#profile_photo').val('')
                }else{
                    var formData = new FormData()
                    formData.append('profile_photo', img)
                    $.ajax({
                           url : '{{url_for('img.get_profile_photo')}}',
                           type : 'POST',
                           data : formData,
                           processData: false,  // tell jQuery not to process the data
                           contentType: false,  // tell jQuery not to set contentType
                           success : function(data) {
                               alert("提交成功")
                           }
                    })
                }
            }
        })
    })
</script>
{% endblock other_scripts %}