@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css';
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrBiQyf2VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(https://fonts.gstatic.com/s/firasans/v9/va9C4kDNxMZdWfMOD5VvkrjHYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrA6Qif2VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url(https://fonts.gstatic.com/s/firasans/v9/va9f4kDNxMZdWfMOD5VvkrByRCf2VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnPKreSBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v9/va9E4kDNxMZdWfMOD5VvmYjO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnZKveSBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v9/va9B4kDNxMZdWfMOD5VnLK3eSBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'), url(https://fonts.gstatic.com/s/robotomono/v6/L0xkDF4xlVMF-BfR8bXMIjDgiWq_f7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhFq3o.ttf) format('truetype');
}
:root {
  font-size: 20px;
}
.markdown-div {
  /* TEXT PARENT */
  width: 35em;
  margin: 0 auto;
  font-family: "Fira Sans", "Verdana", "Geneva", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  font-size: 0.9rem;
  /*letter-spacing: 1px;*/
}
.markdown-div * {
  text-align: left;
}
.markdown-div > h1,
.markdown-div > h2,
.markdown-div > h3,
.markdown-div > h4,
.markdown-div > h5,
.markdown-div > h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.markdown-div > h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 3.25rem;
}
.markdown-div > h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 2.5rem;
}
.markdown-div > h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 2rem;
}
.markdown-div > h4 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.markdown-div > h5 {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}
.markdown-div > h6 {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1rem;
}
.markdown-div > p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.markdown-div > a {
  background-image: linear-gradient(#449, #449);
  background-size: 0.06em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 93%;
  background-position-x: 0;
  color: #449;
  text-decoration: none;
  /* text-shadow: white 0.7px 0.7px 0.1px, white 0 1px 0.1px, white -.7px 0.7px 0.1px, white -.7px 0 0.1px, white -.7px -.7px 0.1px, white 0 -.7px 0.1px, white 0.7px -.7px 0.1px, white 0.7px 0 0.1px; */
  transition: 0.15s;
}
.markdown-div > a:active {
  background-color: #eee;
  color: #555;
  text-decoration: none;
  /* text-shadow: #eee 0.7px 0.7px 0.1px, #eee 0 1px 0.1px, #eee -.7px 0.7px 0.1px, #eee -.7px 0 0.1px, #eee -.7px -.7px 0.1px, #eee 0 -.7px 0.1px, #eee 0.7px -.7px 0.1px, #eee 0.7px 0 0.1px; */
}
.markdown-div > a:hover {
  background-image: linear-gradient(#66e, #66e);
  color: #66e;
}
.markdown-div > b,
.markdown-div > strong {
  font-weight: bolder;
}
.markdown-div > em,
.markdown-div > i {
  font-style: italic;
}
.markdown-div > del,
.markdown-div > s,
.markdown-div > strike {
  text-decoration: none;
  background-image: linear-gradient(#000, #000);
  background-size: 0.06em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 65%;
  background-position-x: 0;
}
.markdown-div > code,
.markdown-div > pre,
.markdown-div > samp,
.markdown-div > var {
  font-size: 85%;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #737373;
}
.markdown-div > pre {
  display: block;
  margin: 1rem -1rem;
  padding: 1rem 2rem;
  background-color: #eee;
  border-left: 0.1rem solid #888;
}
.markdown-div > * code {
  padding: 0 0.2em 0.1em;
  background-color: #eee;
}
.markdown-div > p var {
  padding: 0 0.2em 0.1em;
  background-color: #eee;
  font-weight: bolder;
  font-style: normal;
}
.markdown-div > p samp {
  padding: 0 0.2em 0.1em;
  margin: 0 0.1em;
  background-color: #666;
  color: #eee;
}
.markdown-div > kbd {
  position: relative;
  padding: 0.2em 0.2em 0.1em 0.2em;
  margin: 0 0.1em;
  bottom: 0.125em;
  font-family: "Fira Sans", "Verdana", "Geneva", sans-serif;
  font-size: 0.8em;
  background-color: #eee;
  border-radius: 0.2em;
  border-bottom: 0.05em solid #aaa;
}
.markdown-div > blockquote {
  margin: 1rem -1rem;
  padding: 1rem 2rem 0 2rem;
  background-color: #eee;
  color: #666;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5;
}
.markdown-div > blockquote::before {
  content: "\201C";
  display: block;
  position: relative;
  height: 0;
  left: -1.3rem;
  top: -0.5rem;
  font-size: 2em;
  color: #888;
}
.markdown-div > blockquote::after {
  content: "\201D";
  display: inline-block;
  position: relative;
  height: 0;
  top: 0.5rem;
  left: 0.2rem;
  font-size: 2em;
  line-height: 0;
  margin-left: 99%;
  color: #888;
}
.markdown-div > abbr[title] {
  text-decoration: none;
  background-image: linear-gradient(90deg, gray 50%, transparent 50%);
  background-size: 0.1em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 100%;
  background-position-x: 0;
  font-feature-settings: "smcp";
}
.markdown-div > ul {
  list-style: none;
  margin-left: -2em;
  padding-left: 2em;
}
.markdown-div > ul > li {
  padding-left: 0;
}
.markdown-div > ul > li::before {
  content: "»";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right;
}
.markdown-div > ul ul > li::before {
  content: "›";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right;
}
.markdown-div > ol {
  list-style: none;
  margin-left: -1em;
  padding-left: 2em;
}
.markdown-div > ol > li {
  padding-left: 0;
  counter-increment: ol-count;
}
.markdown-div > ol > li:first-child {
  counter-reset: ol-count;
}
.markdown-div > ol > li::before {
  content: counter(ol-count) ".";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right;
}
.markdown-div > ol ol,
.markdown-div > ol ul,
.markdown-div > ul ol,
.markdown-div > ul ul {
  margin: 0.5em 0;
}
.markdown-div > img {
  display: block;
  width: calc(100% + 4rem);
  margin: 1rem -2rem;
}
.markdown-div > figure {
  display: inline-table;
  margin: 0rem -2rem 1rem -2rem;
  padding: 2rem 2rem;
  background-color: #eee;
}
.markdown-div > figure img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.markdown-div > figure img + img {
  margin-left: 1rem;
}
.markdown-div > figure figcaption {
  max-width: 100%;
  margin: 1rem auto -1rem auto;
  font-size: 0.9rem;
  font-style: italic;
}
.markdown-div > table {
  margin: 0 -1rem 1rem -1rem;
  width: calc(100% + 2rem);
  overflow: hidden;
  border-collapse: collapse;
}
.markdown-div > table caption {
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  caption-side: bottom;
  text-align: center;
  font-style: italic;
  color: #666;
}
.markdown-div > tr {
  transition: 0.15s;
}
.markdown-div > thead tr {
  border-bottom: 2px solid #888;
}
.markdown-div > tfoot tr {
  border-bottom: none;
  border-top: 1px solid #eee;
  font-weight: bolder;
}
.markdown-div > tbody tr:hover,
.markdown-div > tfoot tr:hover {
  background-color: #eee;
}
.markdown-div > td,
th {
  position: relative;
  padding: 0.3rem 1rem;
}
.markdown-div > th {
  font-weight: bolder;
}
.markdown-div > tbody tr:first-of-type td,
.markdown-div > tbody tr:first-of-type th {
  padding-top: 0.5rem;
}
.markdown-div > hr {
  height: 0;
  width: 10rem;
  border: 0;
  border-bottom: 1px solid #000000;
  margin: 2rem auto;
}
/*# sourceMappingURL=marked.css.map */