{% extends "__base__.html" %}

{% block title %} 管理页面 {% endblock title %}

{% block other_styles %}
<style>
    .button-div{
        padding:30px;
        text-align:center;
    }
    .btn-admin{
        width:200px;
        height:50px;
        margin:20px;
        font-size: 22px;
        font-weight:500;
        font-family: 'Microsoft YaHei';
    }
    .button-a{
        color:#808080;
    }
</style>
{% endblock other_styles %}

{% block center_bar %}
<div class="button-div">
    <bottom  type="button" class="btn btn-default btn-admin">
        <a class="button-a" href="{{url_for('article.new_article_page')}}">
            发表文章
        </a>
    </bottom>
    <bottom  type="button" class="btn btn-default btn-admin">
        <a class="button-a" href="{{url_for('article.manage_article_page')}}">
            文章管理
        </a>
    </bottom>
    <bottom  type="button" class="btn btn-default btn-admin">
        <a class="button-a" href="{{url_for('admin.manage_comment_page')}}">
            评论管理
        </a>
    </bottom>
    <bottom  type="button" class="btn btn-default btn-admin">
        <a class="button-a" href="{{url_for('admin.user_manage_page')}}">
            用户管理
        </a>
    </bottom>
    <!--<bottom  type="button" class="btn btn-default">-->
        <!--<a href="{{url_for('admin.blog_setting_page')}}">-->
            <!--网站设置-->
        <!--</a>-->
    <!--</bottom>-->
    <bottom  type="button" class="btn btn-default btn-admin">
        <a class="button-a" href="{{url_for('user.person_setting_page')}}">
            个人设置
        </a>
    </bottom>
</div>
{% endblock center_bar %}

