{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %}评论管理{% endblock title %}

{% block center_bar %}
<div>
    <form method="post" action="{{url_for('admin.search_comment_page')}}">
        <div class="input-group">
            <input type="text" class="form-control" name="name" placeholder="搜索">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </form>
</div>

<table class="table table-striped">
    <tr>
        <th>文章</th>
        <th>评论标题</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    {% for comment in comments %}
    <tr>
        <td>{{comment.article.title}}</td>
        <td>{{comment.title}}</td>
        <td>{{comment.create_datetime}}</td>
        <td>
             <button type="button" class="btn btn-default">
                <a href="{{url_for('article.comment_detail_page', comment_id = comment.id)}}">
                    查看评论
                </a>
            </button>
            <button type="button" class="btn btn-default delete-button" id="{{url_for('article.delete_comment_page',comment_id = comment.id)}}">
                    删除
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock center_bar %}

{% block other_scripts %}
    <script>
        $(document).ready(function() {
            $('#username').val('{{current_user.username}}')

            var delete_button = document.getElementsByClassName('delete-button')
            for (i = 0; i < delete_button.length; i++) {
                delete_button[i].addEventListener('click', function () {
                    var url = event.target.id
                    jQuery.post(url=url,function() {
                        alert("删除成功");
                        window.location.href = '{{url_for('admin.manage_comment_page')}}'
                    })
                })
            }
        })
    </script>
{% endblock other_scripts %}