{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %} 用户管理 {% endblock title %}

{% block other_styles %}
<style>
    .center-div{
        margin-top:70px;
        min-height:800px;
        padding:15px;
        background-color:#fafafa;
        overflow:hidden;
        box-shadow: 0px 0px 2px 2px #f0f0f0;
        min-width:500px;
        border-radius: 5px;
    }
    .return{
        width:80px;
        height:40px;
        font-size: 16px;
        width:80px;
        color:#808080;
        margin-bottom:20px;
    }
    .return-a{
        font-family: 'Microsoft YaHei';
        color:#808080;
        letter-spacing:5px;
        font-weight:600;
    }
    .search-div{
        border-top-style:solid;
        border-top-width:2px;
        border-top-color: #FFFFFF;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color: #FFFFFF;
        padding:20px;
        margin-bottom:20px;
    }
    .div-word{
        font-family: 'Microsoft YaHei';
        color:#808080;
        letter-spacing:2px;
        font-weight:600;
    }
    .table-div{
        padding:20px;
        font-family: 'Microsoft YaHei';
        color:#808080;
        letter-spacing:2px;
    }
    .pagination-div{
        color:#808080;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
</style>
{% endblock other_styles %}

{% block content %}
<div class="center-div col-md-8 col-md-offset-2">
    <button  type="button" class="btn btn-default return">
            <a href="{{url_for('admin.admin_index_page')}}" class="return-a">
                返回
            </a>
    </button>
    <div class="search-div">
        <p class="div-word">按用户名搜索用户:</p>
        <form method="post" action="{{url_for('admin.search_user_page')}}">
            <div class="input-group">
                <input type="text" class="form-control" name="name" placeholder="搜索">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
    <div class="table-div">
        <table class="table table-striped">
            <tr>
                <th>用户名</th>
                <th>email</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.create_datetime}}</td>
                <td>
                    <button type="button" class="btn btn-default delete-button" id="{{url_for('admin.delete_user_page',user_id = user.id)}}">
                            删除用户
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if pagination and need_pagination !=0 %}
    <div class="pagination-div">
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'admin.user_manage_page') }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block other_scripts %}
    <script>
        $(document).ready(function() {
            var delete_button = document.getElementsByClassName('delete-button')
            for (i = 0; i < delete_button.length; i++) {
                delete_button[i].addEventListener('click', function () {
                    var url = event.target.id
                    jQuery.post(url=url,function() {
                        alert("删除成功")
                        window.location.href = '{{url_for('admin.user_manage_page')}}'
                    })
                })
            }
        })
    </script>
{% endblock other_scripts %}