{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %} 这是文章管理页面 {% endblock title %}

{% block center_bar %}

<table class="table table-striped">
    <tr>
        <th>文章名</th>
        <th>作者</th>
        <th>创建时间</th>
        <th>关键字</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{article.title}}</td>
        <td>{{article.user.username}}</td>
        <td>{{article.create_datetime}}</td>
        <td>{{article.keyword}}</td>
        <td>{{article.description}}</td>
        <td>
            <button type="button" class="btn btn-default">
                <a href="{{url_for('article.article_detail_page', article_id = article.id)}}">
                    查看本文
                </a>
            </button>
            <button type="button" class="btn btn-default">
                <a href="{{url_for('article.change_article_page', article_id = article.id)}}">
                    修改
                </a>
            </button>
            <button type="button" class="btn btn-default delete-button" id="{{url_for('article.delete_article_page',article_id = article.id)}}">
                    删除
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'article.manage_article_page') }}
</div>
{% endif %}

{% endblock center_bar %}

{% block other_scripts %}
    <script>
        $(document).ready(function() {
            var delete_button = document.getElementsByClassName('delete-button')
            for (i = 0; i < delete_button.length; i++) {
                delete_button[i].addEventListener('click', function () {
                    var url = event.target.id
                    jQuery.post(url=url,function() {
                        alert("删除成功");
                        window.location.href = '{{url_for('article.manage_article_page')}}'
                    })
                })
            }
        })
    </script>
{% endblock other_scripts %}