{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 新文章编辑 {% endblock title %}

{% block other_styles %}
<style>
    .editor-area{
        min-width:720px;
        padding:20px;
    }
    .info-div{
        margin-bottom:30px;
    }
    label.control-label{
        font-family: 'Microsoft YaHei';
        font-size: 20px;
        color:#808080;
    }
    .w-e-text-container{
        min-height:700px;
    }
    .return{
        width:80px;
        height:40px;
        font-size: 16px;
        width:80px;
        color:#808080;
        margin-top:20px;
        margin-left:20px;
    }
    .return-a{
        font-family: 'Microsoft YaHei';
        color:#808080;
        letter-spacing:5px;
        font-weight:600;
    }
    .button{
        margin:20px;
        text-align:center;
    }
    #btn1{
        width:250px;
        height:50px;
        background-color:#808080;
        font-family: 'Microsoft YaHei';
        font-size: 20px;
        color:#FFFFFF;
        letter-spacing:20px;
        font-weight:600;
    }
</style>
{% endblock other_styles %}

{% block center_bar %}
    <button  type="button" class="btn btn-default return">
            <a href="{{url_for('admin.admin_index_page')}}" class="return-a">
                返回
            </a>
    </button>
<div class="editor-area">
    <div class="info-div">
        {{ wtf.quick_form(form) }}
    </div>


    <div class="editor" id="editor">
        <p>请在此框中输入正文</p>
    </div>
    <div class="button" >
        <button class="btn btn-default" id="btn1">提交</button>
    </div>
</div>
{% endblock center_bar %}

{% block other_scripts %}
    <script type="text/javascript" src="/static/wangEditor/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        // 或者 var editor = new E('#editor')
        var editor = new E( document.getElementById('editor') )
        editor.customConfig.uploadImgServer = '{{url_for('img.get_article_img')}}'  //上传文章图片配置服务器地址
        editor.customConfig.uploadFileName = 'file'   //上传文章图片配置文件名
        editor.customConfig.debug = false  //debug
        editor.customConfig.zIndex = 100
        editor.create()

        document.getElementById('btn1').addEventListener('click', function () {
            // 读取 html
            // var html = editor.txt.html()
            // $('#aaa').html(html)
            var title = $('#title').val()
            var keyword = $('#keyword').val()
            var description = $('#description').val()
            var content = editor.txt.html()
            var csrf_token = $('#csrf_token').val()
            if(title.length == 0 || keyword.length == 0 || content.length == 0 || description.length == 0){
                alert("请正确填写内容");
                return
            }
            jQuery.post(url='{{url_for('article.new_article_page')}}',data = {name:'new_article',csrf_token:csrf_token, title:title, keyword:keyword, description:description,content:content},function(url) {
                alert("提交成功")
                window.location.href = url
            })
        }, false)

    </script>
{% endblock other_scripts %}