{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 这是新文章编辑页面 {% endblock title %}



{% block center_bar %}
    <div id="get_ajax">
    </div>
    <div>
        {{ wtf.quick_form(form) }}
    </div>


    <div id="editor">
        <p>请在此框中输入正文</p>
    </div>
    <button id="btn1">提交</button>
{% endblock center_bar %}

{% block other_scripts %}
    <script type="text/javascript" src="/static/wangEditor/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        // 或者 var editor = new E('#editor')
        var editor = new E( document.getElementById('editor') )
        editor.customConfig.uploadImgServer = '{{url_for('img.get_article_img')}}'  //上传文章图片配置服务器地址
        editor.customConfig.uploadFileName = 'file'   //上传文章图片配置文件名
        editor.customConfig.debug = false  //debug
        editor.create()

        document.getElementById('btn1').addEventListener('click', function () {
            // 读取 html
            // var html = editor.txt.html()
            // $('#aaa').html(html)
            var title = $('#title').val()
            var keyword = $('#keyword').val()
            var description = $('#description').val()
            var content = editor.txt.html()
            var csrf_token = $('#csrf_token').val()
            jQuery.post(url='{{url_for('article.new_article_page')}}',data = {name:'new_article',csrf_token:csrf_token, title:title, keyword:keyword, description:description,content:content},function(url) {
                alert("提交成功");
                window.location.href = url
            })
        }, false)

    </script>
{% endblock other_scripts %}