{% extends "__base__.html" %}
{% import "__macros__.html" as macros %}

{% block title %}1000ms的小站{% endblock title %}

{% block center_bar %}
    <button type="button" class="btn btn-default">
        <a href="{{url_for('article.article_detail_page', article_id = 1)}}">
            文章
        </a>
    </button>

{% for article in articles %}
<p>{{article.title}}</p><br/>
{% endfor %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'index.index_page') }}
</div>
{% endif %}

{% endblock center_bar %}