{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "__macros__.html" as macros %}

{% block title %} {{article.title}} {% endblock title %}

{% block other_styles %}
<style>
    .whole-article-div{
        padding: 20px;
    }
    .article-div{
        text-align: center;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color: #FFFFFF;
        font-family: 'Microsoft YaHei';
        color:#808080;
    }
    .article-title{
        font-weight:600;
        font-size: 40px;
    }
    .article-detail{
        padding-top: 10px;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color: #FFFFFF;
        padding-bottom: 20px;
        min-height: 500px;
    }
    .pagination-div{
        color:#808080;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    .comment-div{
        color:#808080;
    }
    .comment-div-title{
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: 'Microsoft YaHei';
    }
    .comment-div-title-word{
        font-weight:600;
        font-size: 23px;
    }
    .comment-div-profile-photo{
        height: 100px;
    }
    .single-comment{
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color: #FFFFFF;
        padding-bottom: 20px;
        padding-top: 20px;
        font-family: 'Microsoft YaHei';
        max-height: 1000px;
    }
    .comment-profile-photo{
        height: 80px;
        width: 80px;
        box-shadow: 0px 0px 2px 2px #f0f0f0;
        position: absolute;
    }
    .comment-profile-photo-word{
        position: absolute;
        margin-left: 100px;
        margin-top: 50px;
        min-height: 600px;
        font-size: 20px;
    }
    .deliver-comment-div{
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Microsoft YaHei';
        color:#808080;
    }
    label.control-label{
        font-size: 18px;
    }
    .not-login-info{
        font-size: 20px;
        font-weight:600;
        text-align: center;
        padding: 30px;
        border-style:solid;
        border-width:5px;
        border-color: #FFFFFF;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    .w-e-text-container{
        min-height:300px;
    }
    .button{
        width:200px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    #btn1{
        width:150px;
        height:50px;
        background-color:#808080;
        font-family: 'Microsoft YaHei';
        font-size: 16px;
        color:#FFFFFF;
        letter-spacing:5px;
        font-weight:600;
        text-align: center;
    }
</style>
{% endblock other_styles %}

{% block center_bar %}
<div class="whole-article-div">
    <div class="article-div">
        <p class="article-title">{{article.title}}</p>
        <p class="article-user-info">{{article.user.username}} 发表于{{article.create_datetime}}</p>
        <p class="article-keyword">关键词：{{article.keyword}}</p>
        <div class="article-detail">
            {% autoescape false %}
            {{article.content}}
            {% endautoescape %}
        </div>
    </div>

    <div class="comment-div">
        <div class="comment-div-title">
        {% if not comments %}
            <p class="comment-div-title-word"> 暂时没有评论哦~ </p>
        {% else %}
            <p class="comment-div-title-word"> 评论： </p>
        {% endif %}
        </div>

        {% for comment in comments %}
        <div class="single-comment">
            <div class="comment-div-profile-photo">
                <img src="{{url_for('static', filename=folder+comment.user.profile_photo)}}" class="comment-profile-photo">
                <p class="comment-profile-photo-word">{{comment.user.username}}: “{{comment.title}}”</p>
            </div>
            <p>{% autoescape false %}{{comment.comment}}{% endautoescape %}</p>
        </div>
        {% endfor %}


    {% if pagination and need_pagination !=0 %}
        <div class="pagination-div">
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'article.article_detail_page',article_id=article.id) }}
            </div>
        </div>
    {% endif %}
    </div>

    <div class="deliver-comment-div">
        {% if current_user.is_authenticated %}
        <div>
            {{ wtf.quick_form(form) }}
        </div>
        <div class="editor" id="editor">
            <p>请在此框中输入评论</p>
        </div>
        <div class="button" >
            <button class="btn btn-default" id="btn1">提交</button>
        </div>
        {% else %}
        <div class="not-login-info">
            <p>请登陆后使用评论功能</p>
        </div>
        {% endif %}
    </div>
</div>

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}
{% endblock center_bar %}

{% block other_scripts %}
    <script type="text/javascript" src="/static/wangEditor/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        // 或者 var editor = new E('#editor')
        var editor = new E( document.getElementById('editor') )
        editor.customConfig.menus = [
            'bold',
            'italic',
            'underline',
            'strikeThrough',
            'code',
            'undo',
            'redo'
        ]
        editor.customConfig.debug = false  //debug
        editor.customConfig.zIndex = 100
        editor.customConfig.uploadImgMaxLength = 0
        editor.create()

        document.getElementById('btn1').addEventListener('click', function () {
            // 读取 html
            // var html = editor.txt.html()
            // $('#aaa').html(html)
            var title = $('#title').val()
            var comment = editor.txt.html()
            var csrf_token = $('#csrf_token').val()
            if(title.length == 0 || comment.length == 0){
                alert("请正确填写内容");
                return
            }
            if(comment.length >1500){
                alert("评论内容过长，请重新输入");
                return
            }
            jQuery.post(url='{{url_for('article.article_detail_page', article_id=article.id)}}',data = {name:'new_comment',csrf_token:csrf_token, title:title,comment:comment},function(url) {
                alert("提交成功")
                window.location.reload()
            })
        }, false)

    </script>
{% endblock other_scripts %}