{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 评论修改 {% endblock title %}

{% block other_styles %}
<style>
    .editor-area{
        padding:20px;
    }
    .return{
        width:80px;
        height:40px;
        font-size: 16px;
        width:80px;
        color:#808080;
        margin-top:20px;
        margin-left:20px;
    }
    .return-a{
        font-family: 'Microsoft YaHei';
        color:#808080;
        letter-spacing:5px;
        font-weight:600;
    }
    .info-div{
        margin-bottom:30px;
    }
    label.control-label{
        font-family: 'Microsoft YaHei';
        font-size: 20px;
        color:#808080;
    }
    input.btn{
        width:150px;
        margin-top:15px;
        background-color:#808080;
        font-family: 'Microsoft YaHei';
        font-size: 14px;
        color:#FFFFFF;
    }
    .w-e-text-container{
        min-height:300px;
    }
    .button{
        width:200px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    #btn1{
        width:150px;
        height:50px;
        background-color:#808080;
        font-family: 'Microsoft YaHei';
        font-size: 16px;
        color:#FFFFFF;
        letter-spacing:5px;
        font-weight:600;
        text-align: center;
    }
</style>
{% endblock other_styles %}

{% block center_bar %}
<button  type="button" class="btn btn-default return">
    <a href="{{url_for('user.person_setting_page')}}" class="return-a">
        返回
    </a>
</button>
<div class="editor-area">
    <div class="info-div">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="editor" id="editor">
        <p>请在此框中输入评论</p>
    </div>
    <div class="button" >
        <button class="btn btn-default" id="btn1">提交</button>
    </div>
</div>
{% endblock center_bar %}

{% block other_scripts %}
    <script type="text/javascript" src="/static/wangEditor/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        // 或者 var editor = new E('#editor')
        var editor = new E( document.getElementById('editor') )
        editor.customConfig.menus = [
            'bold',
            'italic',
            'underline',
            'strikeThrough',
            'code',
            'undo',
            'redo'
        ]
        editor.customConfig.debug = false  //debug
        editor.customConfig.zIndex = 100
        editor.customConfig.uploadImgMaxLength = 0
        editor.create()
        editor.txt.html('{% autoescape false %}{{comment.comment}}{% endautoescape %}')

        $('#title').val('{{comment.title}}')

        var old_title = $('#title').val()
        var old_comment = editor.txt.html()

        document.getElementById('btn1').addEventListener('click', function () {
            var title = $('#title').val()
            var comment = editor.txt.html()
            var csrf_token = $('#csrf_token').val()
            if(title.length == 0 || comment.length == 0){
                alert("请正确填写内容");
                return
            }
            if(title == old_title && comment == old_comment){
                alert("未修改评论请勿提交");
                return
            }
            if(comment.length >1500){
                alert("评论内容过长，请重新输入");
                return
            }
            jQuery.post(url='{{url_for('article.change_comment_page', comment_id=comment.id)}}',data = {name:'new_comment',csrf_token:csrf_token, title:title,comment:comment},function(data) {
                alert(data)
                window.location.href = '{{url_for('article.comment_detail_page', comment_id=comment.id)}}'
            })
        }, false)
    </script>
{% endblock other_scripts %}