@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css');
:root {
  font-size: 18px;
}
.markdown-div {
  /* TEXT PARENT */
  width: 100%;
  margin: 0 auto;
  font-family: "Fira Sans", "Verdana", "Geneva", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  font-size: 0.9rem;
}
.markdown-div * code {
  padding: 0 0.2em 0.1em;
  background-color: #eee;
}
.markdown-div h1,
.markdown-div h2,
.markdown-div h3,
.markdown-div h4,
.markdown-div h5,
.markdown-div h6 {
  margin: 1rem 0 0;
  padding: 0;
  font-weight: normal;
}
.markdown-div h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.75rem;
}
.markdown-div h2 {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 2.35rem;
}
.markdown-div h3 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 2rem;
}
.markdown-div h4 {
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.markdown-div h5 {
  font-weight: 700;
  font-size: 1.25rem;
}
.markdown-div h6 {
  font-weight: 700;
  font-size: 1rem;
}
.markdown-div p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.markdown-div p var {
  padding: 0 0.2em 0.1em;
  background-color: #eee;
  font-weight: bolder;
  font-style: normal;
}
.markdown-div p samp {
  padding: 0 0.2em 0.1em;
  margin: 0 0.1em;
  background-color: #666;
  color: #eee;
}
.markdown-div a {
  background-image: linear-gradient(#449, #449);
  background-size: 0.06em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 93%;
  background-position-x: 0;
  color: #449;
  text-decoration: none;
  transition: 0.15s;
}
.markdown-div a :active {
  background-color: #eee;
  color: #555;
  text-decoration: none;
}
.markdown-div a :hover {
  background-image: linear-gradient(#66e, #66e);
  color: #66e;
}
.markdown-div b,
.markdown-div strong {
  font-weight: bolder;
}
.markdown-div em,
.markdown-div i {
  font-style: italic;
}
.markdown-div del,
.markdown-div s,
.markdown-div strike {
  text-decoration: none;
  background-image: linear-gradient(#000, #000);
  background-size: 0.06em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 65%;
  background-position-x: 0;
}
.markdown-div code,
.markdown-div pre,
.markdown-div samp,
.markdown-div var {
  font-size: 85%;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #737373;
}
.markdown-div pre {
  display: block;
  margin: 1rem -1rem;
  padding: 1rem 2rem;
  background-color: #eee;
  border-left: 0.1rem solid #888;
}
.markdown-div kbd {
  position: relative;
  padding: 0.2em 0.2em 0.1em 0.2em;
  margin: 0 0.1em;
  bottom: 0.125em;
  font-family: "Fira Sans", "Verdana", "Geneva", sans-serif;
  font-size: 0.8em;
  background-color: #eee;
  border-radius: 0.2em;
  border-bottom: 0.05em solid #aaa;
}
.markdown-div blockquote {
  margin: 1rem -1rem;
  padding: 1rem 2rem 0 2rem;
  background-color: #eee;
  color: #666;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5;
}
.markdown-div blockquote ::before {
  content: "\201C";
  display: block;
  position: relative;
  height: 0;
  left: -1.3rem;
  top: -0.5rem;
  font-size: 2em;
  color: #888;
}
.markdown-div blockquote ::after {
  content: "\201D";
  display: inline-block;
  position: relative;
  height: 0;
  top: 0.5rem;
  left: 0.2rem;
  font-size: 2em;
  line-height: 0;
  margin-left: 99%;
  color: #888;
}
.markdown-div abbr[title] {
  text-decoration: none;
  background-image: linear-gradient(90deg, gray 50%, transparent 50%);
  background-size: 0.1em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 100%;
  background-position-x: 0;
  font-feature-settings: "smcp";
}
.markdown-div ol ol,
.markdown-div ol ul,
.markdown-div ul ol,
.markdown-div ul ul {
  margin: 0.5em 0;
}
.markdown-div ul {
  list-style: none;
  margin-left: -2em;
  padding-left: 2em;
}
.markdown-div ul li {
  padding-left: 0;
}
.markdown-div ul li ::before {
  content: "»";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right;
}
.markdown-div ul ul li ::before {
  content: "›";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right;
}
.markdown-div ol {
  list-style: none;
  margin-left: -1em;
  padding-left: 2em;
}
.markdown-div ol li {
  padding-left: 0;
  counter-increment: ol-count;
}
.markdown-div ol li :first-child {
  counter-reset: ol-count;
}
.markdown-div ol li ::before {
  content: counter(ol-count) ".";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right;
}
.markdown-div img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown-div figure {
  display: inline-table;
  margin: 0rem -2rem 1rem -2rem;
  padding: 2rem 2rem;
  background-color: #eee;
}
.markdown-div figure img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.markdown-div figure img + img {
  margin-left: 1rem;
}
.markdown-div figure {
  display: inline-table;
  margin: 0rem -2rem 1rem -2rem;
  padding: 2rem 2rem;
  background-color: #eee;
}
.markdown-div figure img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.markdown-div figure + img {
  margin-left: 1rem;
}
.markdown-div figure figcaption {
  max-width: 100%;
  margin: 1rem auto -1rem auto;
  font-size: 0.9rem;
  font-style: italic;
}
.markdown-div table {
  margin: 0 -1rem 1rem -1rem;
  width: calc(100% + 2rem);
  overflow: hidden;
  border-collapse: collapse;
}
.markdown-div table caption {
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  caption-side: bottom;
  text-align: center;
  font-style: italic;
  color: #666;
}
.markdown-div tr {
  transition: 0.15s;
}
.markdown-div td,
.markdown-div th {
  position: relative;
  padding: 0.3rem 1rem;
}
.markdown-div th {
  font-weight: bolder;
}
.markdown-div tbody tr :hover,
.markdown-div tfoot tr :hover {
  background-color: #eee;
}
.markdown-div tbody tr:first-of-type td,
.markdown-div tbody tr:first-of-type th {
  padding-top: 0.5rem;
}
.markdown-div thead tr {
  border-bottom: 2px solid #888;
}
.markdown-div tfoot tr {
  border-bottom: none;
  border-top: 1px solid #eee;
  font-weight: bolder;
}
.markdown-div hr {
  height: 0;
  width: 10rem;
  border: 0;
  border-bottom: 1px solid #000000;
  margin: 2rem auto;
}
/*# sourceMappingURL=marked.css.map */