{% extends "bootstrap/base.html" %}

{% block head -%}
    {{ super() }}
    <style>
        footer{height:100px;
            bottom:0;
            width:100%;
            height:100px;
            background-color:#000000;
        }
    </style>
{% endblock head -%}



{% block body_attribs %}
    background="static/img/background.png" background-repeat="repeat"
{% endblock body_attribs %}


{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container text-center">
            <div class="navbar-header">
                <a class="navbar-brand">1000ms的小站</a>
            </div>
            <div class = "navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">提交按钮</button>
                </form>
                <button type="button" class="btn btn-default navbar-btn">
                    用户
                </button>
            </div>
        </div>
    </nav>
{% endblock navbar %}


{% block body -%}
    {{ super() }}
    <footer class="footer">
          <div class="container">
            <p>Designed by Victor Lai</p>
          </div>
    </footer>
{% endblock body -%}
